.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 100px;
  width: 600px;
}

.content h1 {
  text-align: center;
}

.copy-code {
  display: grid;
  width: 100%;
  grid-template-columns: auto 80px;
}

.copy-code input {
  padding: 10px;
}
